.places__paragraph {
    max-width: 484px;
    /*min-height: 150px;*/
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px 0;
    color: #FFFFFF;
    /*margin-top: -5px;*/
}

/*Удалила дублирование стилей в медиазапросах*/

@media screen and (max-width: 1024px) {

    .places__paragraph {
        max-width: 456px;

        margin: 0;
    }

}

@media screen and (max-width: 980px) {

    .place__paragraph {
        max-width: 350px;
        font-size: 16px;
        line-height: 26px;
    }

}


@media screen and (max-width: 768px) {

    .places__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }

}

@media screen and (max-width: 730px) {

    .place__paragraph {
        max-width: 340px;
        /*font-size: 16px;
        line-height: 26px;*/
        margin: 0 auto 24px;

    }

}

@media screen and (max-width: 374px) {

    .place__paragraph {
        /*max-width: 288px;
        font-size: 16px;
        line-height: 26px;*/
        margin: 0 auto 24px;
    }

}

@media screen and (max-width: 320px) {

    .places__paragraph {
        /*max-width: 288px;
        font-size: 16px;
        line-height: 26px;*/
        margin: 0 16px 0;
    }

}