.header__menu-item {
    max-width: 30px;
    /*min-height: 28px;*/
    line-height: 28px;
    font-size: 24px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-right: 18px;

}

/*Удалила дублирование стилей в медиазапросах*/

@media screen and (max-width: 375px) {

    .header__menu-item {
        max-width: 22px;
        line-height: 17px;
        font-size: 18px;
        margin-right: 16px;
        margin-bottom: 14px;
    }

}

/*
@media screen and (max-width: 320px) {

    .header__menu-item {
        max-width: 22px;
        line-height: 17px;
        font-size: 18px;
        margin-right: 16px;
    }

}