@import url(../places/__paragraph-container/places__place__paragraph-container.css);
@import url(../places/__place__image/places__place__image.css);
@import url(../places/__place__paragraph/places__place__paragraph.css);
@import url(../places/__place__title/places__place__title.css);
@import url(../places/__place__url/places__place__url.css);
@import url(../places/__place__website/places__place__website.css);
@import url(../places/__place/places__place.css);

.places {
    max-width: 984px;
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, max-content);
    gap: 80px;
    color: #FFFFFF;

}

@media screen and (max-width: 1024px) {

    .places {
        max-width: 928px;
    }

}



@media screen and (max-width: 768px) {

    .places {
        max-width: 720px;
        gap: 72px;
    }

}


@media screen and (max-width: 320px) {

    .places {
        max-width: 320px;
    }

}