@import url(../__url/__url-capital/places__url-capital.css);



.places__place__url {
    max-width: 456px;
    /*height: 22px*/
    font-family: ''Inter'', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    align-self: end;
}