.header__menu {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    list-style-type: none;
}

/*Удалила дублирование стилей в медиазапросах*/


media screen and (max-width: 320px) {

    .header__menu {

        margin-top: 16px;

    }

}