.lead__title {
    max-width: 720px;
    margin: 0 auto;


    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;


    text-align: center;
}


@media screen and (max-width: 768px) {

    .lead__title {
        max-width: 720px;
        font-size: 70px;
        line-height: 60px;
    }

}



@media screen and (max-width: 320px) {

    .lead__title {
        min-height: 88px;
    }

}