.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

/*Удалила дублирование стилей в медиазапросах*/

@media screen and (max-width: 768px) {

    .lead__title {
        /*max-width: 720px;*/
        line-height: 60px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;

    }

}

@media screen and (max-width: 695px) {
    .lead__title {
        max-width: 670px;
        font-size: 56px;
        line-height: 52px;
    }
}

@media screen and (max-width: 495px) {

    .lead__title {
        max-width: 320px;
        font-size: 44px;
        line-height: 48px;
    }

}

@media screen and (max-width: 375px) {

    .lead__title {
        /*max-width: 320px;*/
        font-size: 40px;
        line-height: 44px;
    }

}

@media screen and (max-width: 330px) {

    .lead__title {
        /* min-height: 88px;*/
        max-width: 288px;
        /*font-size: 40px;
        line-height: 44px;*/
    }

}