@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__box/intro__box.css);
@import url(../intro/__list-phrase/intro__list-phrase.css);
@import url(../intro/__list__span/intro__list__span.css);

.intro {

    max-width: 690px;
    /*min-height: 428px;*/
    margin: 84px auto 0 220px;
    color: #FFFFFF;

}

@media screen and (max-width: 1024px) {

    .intro {
        max-width: 690px;
        /*min-height: 428px;*/
        margin: 80px 48px 0;
    }

}

@media screen and (max-width: 900px) {

    .intro {
        max-width: 720px;
        min-height: 428px;
        margin:
            40px auto 0;
    }

}

@media screen and (max-width: 768px) {

    .intro {
        max-width: 720px;
        min-height: 428px;
        margin:
            40px auto 0;
    }

}

@media screen and (max-width: 320px) {

    .intro {
        max-width: 288px;
        min-height: 752px;
        margin:
            33px auto 0;
    }

}