@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__box/intro__box.css);

.intro {

    max-width: 690px;
    min-height: 428px;
    margin: 84px auto 0;
    color: #FFFFFF;

}

@media screen and (max-width: 1024px) {

    .intro {
        max-width: 690px;
        min-height: 428px;
        margin: 114px 286px 0 48px;
    }

}

@media screen and (max-width: 768px) {

    .intro {
        max-width: 720px;
        min-height: 428px;
        margin: 80px auto 0;
    }

}

@media screen and (max-width: 320px) {

    .intro {
        max-width: 288px;
        min-height: 752px;
    }

}