.places__url-capital {
    max-width: 456px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 12px;
    color: #AAAAAA;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    align-self: end;
}