.lead__caption {
    max-width: 159px;
    min-width: 14px;
    margin: 8px 0 0;
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .lead__caption {
        margin: 24px 8px 24px 0;
    }
}

@media screen and (max-width: 425px) {

    .lead__caption {
        margin: 30px 145px 0 20px;

    }
}

@media screen and (max-width: 375px) {

    .lead__caption {
        margin: 20px 145px 0 20px;

    }
}

@media screen and (max-width: 320px) {

    .lead__caption {
        margin: 8px 145px 0 16px;
    }
}