.places__place__paragraph {
    max-width: 484px;
    min-height: 150px;


    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #FFFFFF;
    margin-top: -5px;
}

@media screen and (max-width: 1024px) {

    .places__place__paragraph {
        max-width: 456px;
        min-height: 180px;
        margin: 0 0 24px 0;
    }

}

@media screen and (max-width: 768px) {

    .places__place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 27px;
        margin: 0 auto 24px;
    }

}


@media screen and (max-width: 320px) {

    .places__place__paragraph {
        max-width: 288px;
        font-size: 16px;
        line-height: 26px;
        margin: 32px 16 0;
    }

}